
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  overflow: hidden;
}

a.hover {
  text-decoration: none;
}

html {
	overflow-x: hidden;
}

input{
  height: 2.1875rem;
}

select{
  height: 2.1875rem;
  width: 150px;
}

.rdt_Pagination{
  margin-bottom: 5rem;
}

.rdt_TableHeader{
  background: transparent !important;
  text-align: center;
}

.rdt_Table .rdt_TableCol, .rdt_Table .rdt_TableCell{
  font-size: 14px;
}

.white-bg{
  background: #fff;
}

.currenct-font-size{
  font-size: 1.2rem;
}